<template>
    <div class="container">
        <p>{{welcomeMessage}}</p>
    </div>
</template>

<script>
    export default {
        name: "Home",
        computed:{
            welcomeMessage(){
                return this.$store.getters.welcome;
            }
        }
    }
</script>

<style scoped>

</style>