<template>
    <div class="container">
        <div class="row h-100">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Log In</h5>
                        <form class="form-signin" @submit.prevent="login">
                            <div class="form-label-group">
                                <label for="inputEmail">Email address</label>
                                <input type="email" id="inputEmail" v-model="form.email" class="form-control" placeholder="Email address" required autofocus>
                            </div>

                            <div class="form-label-group">
                                <label for="inputPassword">Password</label>
                                <input type="password" id="inputPassword" v-model="form.password" class="form-control" placeholder="Password" required>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {userLogin} from "../auth/authentication";

    export default {
        name: "Login",
        data(){
            return {
                form : {
                    email : '',
                    password : '',
                }
            }
        },
        methods :{
            login(){
                userLogin(this.form)
                    .then(response => {
                        // console.log(response)
                        this.$store.commit('loginSuccess', response.data);
                        this.$router.push('/home');
                    })
                    .catch(error => {
                        console.log(error)
                    })
            }
        },
    }
</script>

<style scoped>
button[type="submit"]{
    margin-top: 20px;
    width: 100px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 0;
}

    .card-body{
        margin-bottom: 0px;
    }

    .form-label-group{
        margin-bottom: 20px;
    }

    .card{
        border: none;
        box-shadow: 0px 0px 5px gainsboro;
    }

</style>